<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/application.css" | prepend: site.baseurl }}" />
  </head>

  <body>

    <nav class="nav has-shadow">
      <div class="nav-left">
        <a class="nav-item">
          <img src="http://placehold.it/127x60" alt="mvi logo" />
        </a>
      </div>

      <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
      <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <!-- This "nav-menu" is hidden on mobile -->
      <!-- Add the modifier "is-active" to display it on mobile -->
      <div class="nav-right nav-menu">
        <a class="nav-item is-tab">
          Home
        </a>
        <a class="nav-item">
          Documentation
        </a>
        <a class="nav-item">
          Blog
        </a>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
      </div>

    </div><!-- /.container -->

    {{content}}

  </body>

</html>
